.toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toolbar-btn {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border: none;
    border-radius: 0rem;
    padding: 0.25rem;
    margin-right: 0rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.toolbar-btn-code {
    color: #fff;
    background-color: #2b6cb0;
}

.toolbar-btn-code:hover,
.toolbar-btn-code:focus {
    background-color: #2c5282;
}

.toolbar-btn-message {
    color: #fff;
}

.toolbar-btn-message:hover,
.toolbar-btn-message:focus {
    background-color: #111827;
}

.toolbar-btn.insert-btn svg {
    fill: currentColor;
}

.toolbar-btn.copy-btn svg {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.insert-icon {
    height: 16px;
    width: 16px;
    background-image: url('../images/insert.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.copy-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../images/copy.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;        
}

.edit-icon {
    background-image: url('../images/edit.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;             
    display: inline-block;
    width: 16px;
    height: 16px;
}

.stop-icon {
    background-image: url('../images/stop.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;             
    display: inline-block;
    width: 16px;
    height: 16px;
}

.markdown-icon {
    background-image: url('../images/markdown.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;             
    display: inline-block;
    width: 16px;
    height: 16px;
}

.delete-icon {
    background-image: url('../images/delete.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;             
    display: inline-block;
    width: 16px;
    height: 16px;
}

.reset-icon {
    background-image: url('../images/reset.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;             
    display: inline-block;
    width: 12px;
    height: 12px;
}

.send-icon {
    background-image: url('../images/send.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;             
    display: inline-block;
    width: 20px;
    height: 20px;
}